@use '../../colors' as *

#temperatureDetails
  display: flex
  align-items: center
  justify-content: space-between

  width: 100%

.containerDetails
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding:  1rem
  border-radius: 25%
  
  background-color: $black2
  color: $main-white

  width: 100vw - 75%
  
  @media(max-width: 720px)
    flex-direction: column
    justify-content: start
    gap: 1rem