@use '../../colors' as *

#temperatureDetails
  display: flex
  align-items: center
  justify-content: space-between

  width: 100%

.containerDetails
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding:  1rem
  border-radius: 25%
  
  background-color: $black2
  color: $main-white

  width: 25vw
  height: 4rem
  
  @media(max-width: 1052px)
    width: 35vw

  @media(max-width: 900px)
    width: 45vw
  
  @media(max-width: 720px)
    width: 55vw
    height: 6rem

    flex-direction: column
    justify-content: start
    gap: 1rem