.container {
  padding: 0 2rem;
  background-color: #333;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

#formCity{
  color: #fdfdfd;
  font-size: 1.1rem;
}

#formCity button, #formCity input{
  font-size: 1.1rem;
  padding: .5rem;
}

.MainTemperature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 15rem;
  height:  15rem;
  padding: 1.5rem;
  border-radius: 10%;
  
  background: linear-gradient(135deg, #0C42FF, #381FAD);
  color: #fdfdfd;

  text-align: center;
}

.MainTemperature:hover{
  background: linear-gradient(135deg, #0932C2, #4E2BF2);
}

#local{
  text-align: center;
}

#currentTemperature, #weatherDescription{
  font-size: 1.25rem;
}

#MainTemperature, #currentTemperature, #weatherDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
}